.annular {
    text-align: center;
    display: inline-block;
}

.outer {
    position: relative;
    display: inline-block;

    .text-box{
        position: absolute;
        z-index: 10000;
    }

    .grad-cir {
        transition: stroke-dasharray 0.2s;
    }

    .inner_text {
        position: absolute;
        top: 10px;
        z-index: 100;
        color: white;
        font-size: 14px;
        top: 54px;
        left: 75px;
    }

    .num {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;

        .val {
            font-size: 40px;
        }

        .label {
            font-size: 5px;
            display: flex;
            justify-content: center;
        }
    }
}

.bar-title {
    font-size: 14px;
    color: rgb(102, 102, 102);
    padding-bottom: 20px;
    padding-left: 20px;
}